

body {
  background-color: #FAEBD7;
}

.navbar-brand{
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  letter-spacing: 15px;
}

.name {
  font-family: serif;
  padding-top: 13rem;
	padding-left: 17rem;
}

#fullname{
   font-family: 'Orbitron', sans-serif;
   font-size: 50px;
}

#title{
   text-align: right;
   font-family: 'Orbitron', serif;
   font-size: 20px;
   letter-spacing: 15px;
}

.headContainer {
	padding: 11% 5%;
	margin-left: auto;
	margin-right: auto;
}

.homeimg {
    width:150px;
    height:225px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#floatimg {
  float: left;
}

#head {
	background-color: #200b0b;
	width: 100%;
	position: fixed;
	z-index: 100;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

header {
    border-bottom: 25px solid black;
	height: 510px;
	background: rgba(22,22,22, 0.6);
	background: -webkit-linear-gradient(to right bottom, #FAEBD7 3%, #666666, #FAEBD7);
	background:    -moz-linear-gradient(to right bottom, #FAEBD7 3%, #666666, #FAEBD7);
	background:         linear-gradient(to right bottom, #FAEBD7 3%, #666666, #FAEBD7);
}

.separator {
	border-top: 0.3rem solid black;
	margin-top: 3rem;

}

#about {
	font-size: 12px;
  line-height: 2.2rem;
  padding: 14% 26%;
	letter-spacing: 6px;
  text-transform: uppercase;
  font-family: verdana;

}

#proj-div {
	background-color: #200b0b;
	padding: 1%;
	margin: 8rem 0rem;
	text-align: center;

}

#proj-font {
	padding-top: 5%;
	font-size: 20px;
	letter-spacing: 6px;
    text-transform: uppercase;
    font-family: verdana;

}

img {
	max-width: 100%;
}

.project {
  border:2px solid black;
	margin: 5% 25%;
	border-radius: 10px;

	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    color: #ffffff;
	background: rgba(22,22,22, 0.6);
	background: -webkit-linear-gradient(to left bottom, #e0e0d1 1%, #333333 99%);
	background:    -moz-linear-gradient(to left bottom, #e0e0d1 1%, #333333 99%);
	background:         linear-gradient(to left bottom, #e0e0d1 1%, #333333 99%);

}

#quoteDiv {
	margin: 8% 30%;
}

footer {
    border-top: 1px solid black;
	padding: 20px;
}

#foot1 {
    background-color: #33001a;
    /*text-transform: uppercase;*/
    letter-spacing: 13px;
    font-family: verdana;
    padding: .3%;
    border-bottom: 1px solid white;
}

#foot1 a {
    color: #fff;
}

#foot2{
  background-color: #282828;
  /*background-color: black;*/
  padding-top: 1%;
  border-top: 1px solid white;
}

#foot3 {
    padding: .5%;
    border-bottom: 1px solid white;
    background-color: #c2c2a3;
}

ul {
  list-style-type: none;
}

a {
    color: black;
}

a:link {
    color: black;
}

/*a:visited {
    color: gray;
}*/

a:hover {
    font-weight: 600;
    cursor: pointer;
}

a:active {
    text-decoration: none;
}

@media screen and  (max-width:959px){
  /*body{
    background-color: green;
  }*/
  .project {
    margin: 5% 15%;
  }
  #about {
    padding: 15%, 12%;
  }
  #quoteDiv {
  	margin: 10% 25%;
  }
}

@media screen and  (max-width:640px){
  /*body{
    background-color: blue;
  }*/
  .project {
    margin: 3%;
  }
  #about {
    padding: 10%;
  }
  #quoteDiv {
  	margin: 5% 10%;
  }
}

@media screen and  (max-width:470px){
  /*body{
    background-color: red;
  }*/
  .navbar-brand{
    font-size: 14px;
    letter-spacing: 6px;
    font-weight: bold;
  }
  .homeimg{
    /*width:120px;
    height:180px;*/
    margin: 10% auto;
  }
  header{
    height: 50%;
  }
  #fullname{
    font-size: 0px;
  }
  #title{
    font-weight: bold;
    float: none;
  }
  .name {
    padding-top: 0px;
  	padding-left: 0px;
  }
  #floatimg{
    float: none;
  }
  #about {
  	font-size: 10px;
    /*line-height: 2.2rem;*/
    /*padding: 14% 18%;*/
  	letter-spacing: 4px;
}
