

body {
  background-color: #FAEBD7;
}

.name {
    font-family: serif;
    padding-top: 130px ;
	padding-left: 170px;
	
}

.font-head {
    font-family: 'Calligraffitti', serif;
	
}

.headContainer {
	width: 80%;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
}

.sectionContainer {
	padding-left: 10px;
	padding-right: 50px;
}


.homeimg {
    width:150px; 
    height:220px; 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.portdiv {
    border:5px solid black;	
	margin-bottom: 70px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    color: #ffffff;
	background: rgba(22,22,22, 0.6);
	background: -webkit-linear-gradient(to left bottom, #e0e0d1 1%, #333333 99%);
	background:    -moz-linear-gradient(to left bottom, #e0e0d1 1%, #333333 99%);
	background:         linear-gradient(to left bottom, #e0e0d1 1%, #333333 99%);
    
}

.footspan {
    padding-left: 30px;
    padding-right: 30px;
}

#head {
	background-color: #200b0b;
	width: 100%;
	position: fixed;
	z-index: 100;
	min-height: 50px;
	padding: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

ul > li {
	padding-left: 20px;
	padding-right: 20px;
} 

header {
    border-bottom: 20px solid black;
	padding-top: 20px;
	height: 510px;
	background: rgba(22,22,22, 0.6);
	background: -webkit-linear-gradient(to right bottom, #FAEBD7 3%, #666666, #FAEBD7);
	background:    -moz-linear-gradient(to right bottom, #FAEBD7 3%, #666666, #FAEBD7);
	background:         linear-gradient(to right bottom, #FAEBD7 3%, #666666, #FAEBD7);
}

#quoteDiv {
	margin-top: 100px;
	
}

footer {
    border-top: 1px solid black;
	margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

a {
    color: black;
}

a:link {
    color: black;
}

/*a:visited {
    color: gray;
}*/

a:hover {
    font-weight: 600;
    cursor: pointer;
}

a:active {
    text-decoration: none;
}

p {
    padding:0px 50px 0px 50px;
}

.center-pills { 
    display: inline-block; 
}

.pad {
    padding: 17px;
}

/*text hover over project pictures*/

span.text-content {
  background: rgba(0,0,0,0.7);
  color: white;
  font-weight: bold;
  font-size: 130%;
  cursor: pointer;
  display: table;
  height: 335px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 700ms;
  -moz-transition: opacity 700ms;
  -o-transition: opacity 700ms;
  transition: opacity 700ms;
}

div.hover-text:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 200px;
	padding-right: 200px;
}

.carousel-indicators {
  bottom: 5px;
}

.round-corner {
	border-radius: 25px;
}
